@import url(../css/reset.css);
@import url(../css/header.css);
body {
  overflow-x: hidden;
}
.subject {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sub {
  border: 1px solid #e0e0e0;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 6rem;
  cursor: pointer;
}

.sub:hover {
  background-color: #e0e0e0;
}

.btnActive {
  background-color: #ff7f00;
  color: white;
}
.subject-contents {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 20px;
}


/* 반응형 */
@media (max-width: 420px) {
  .show {
    display: flex !important;
  }

  header .nav-btns {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 17rem;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    z-index: 50;
    display: none;
  }

  header .menu-btn {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  header .menu-btn a {
    margin-left: 0;
    width: 100%;
  }

  header .menu-btn a:hover {
    opacity: .8;
    border: none;
  }

  header .login-btn {
    margin: 0 auto;
    gap: 15px;
    margin-top: 5rem;
    text-align: center;
  }

  header h1 a {
    font-size: 1.5rem;
    color: #fff;
  }

  .material-symbols-outlined {
    display: block;
    color: #fff;
    cursor: pointer;
  }

  main .wrapper form {
    width: 100%;
  }

  #serachbible {
    font-size: 1.2rem;
    left: 0;
    transform: none;
  }

  main .wrapper .input-btn {
    display: none;
  }

  main .wrapper .random-paragraph h3::-webkit-scrollbar {
    display: none;
  }

  main .wrapper .random-paragraph h3 {
    font-size: 1.1rem;
    overflow: auto;
  }

  main .wrapper .random-paragraph p {
    font-size: .8rem;
  }

  main .wrapper .multi-contents {
    gap: 20px;
  }

  main .wrapper .multi-contents .bible-game,
  main .wrapper .multi-contents .pray-note {
    height: 200px;
  }

  main .wrapper .multi-contents .bible-game h3,
  main .wrapper .multi-contents .pray-note h3 {
    font-size: 1.1rem;
  }

  .mobile-background {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    display: none;
  }

  main .wrapper .book-title {
    font-size: 1.1rem;
  }

  main .wrapper .scripture .bible-contents {
    font-size: 1rem;
  }

  .source {
    font-size: .8rem;
    display: inline-block;
    text-align: right;
    position: relative;
    left: 58%;
    top: 8%;
  }

  main .wrapper .buttons {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    top: -3px;
  }

  main .wrapper .buttons button {
    font-size: 1rem;
  }

  .prev-button {
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    margin: 0;
  }

  .next-button {
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    margin: 0;
  }

  .prev-button:hover,
  .next-button:hover {
    background-color: #fff;
  }

  .sub{
    width: 50px;
  }
  .sub h3{
    font-size: .8rem;
  }
  .subject-contents{
    max-width: 80%;
  }
  
}