
.findUserIdField h4{
    font-size: 1rem;
}
.findUserIdField form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 450px;
    gap: 1.2rem;
    box-shadow: 2px 5px 5px 2px;
    border-radius: 2rem;
}
.findUserIdField form input{
    height: 30px;
    padding: 0 5px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid rgb(135, 135, 135);
}
.findUserIdField form h2 {
    font-family: "Russo One", sans-serif;
    font-size: 2rem;
  }

.findUserIdField .bottom-btns {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
}
  .findUserIdField .bottom-btns a:hover {
    border-bottom: 1px solid rgb(135, 135, 135);
    opacity: 0.5;
  }
  .mobile-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 75px;
  }
  .mobile-number, .authNumber-section{
    display: flex;
    gap: 5px;
  }
  .mobile-section button{
    width: 70px;
    height: 30px;
  }
  
  .findId-btn button{
    width: 245px;
    height: 40px;
    font-size: 1.2rem;
    letter-spacing: 3px;
    border: none;
    color: #fff;
    background-color: rgb(23, 70, 158);
    border-radius: 6px;
    cursor: pointer;
  }
    .findId-btn button:hover {
        background-color: rgb(44, 104, 214);
    }
    .timer-display{
      margin-left: 15px;
    }
    .authNumber-reSend:hover{
      border-bottom: 1px solid rgb(135, 135, 135);
      opacity: 0.5;
    }
    @media(max-width: 420px){
      .findUserIdField form {
        width: 320px;
        height: 320px;
      }
      .findUserIdField form input{
        font-size: 0.8rem;
      }
      .findUserId-section .name,
      .findUserId-section .mobile-section{
        margin-left: -45px;
      }

    }