@import url(../css/reset.css);
@import url(../css/header.css);

/* 메인 */

main {
  width: 100%;
  height: 100%;
}
main .pray-wrapper {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  /* gap: 10px; */
  flex-wrap: wrap;
  /* background-color: rgb(255, 255, 255); */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
/* main - prayBucketList */
.prayBucketList {
  width: 60%;
  height: 800px;
  display: flex;
  flex-direction: column;
}
.prayBucketList-header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: baseline;
  background-color: bisque;
  align-items: center;
  padding-left: 1rem;
}
.prayBucketList-body {
  width: 100%;
  height: 85%;
  /* background-color: blueviolet; */
  /* border: 1px solid black; */
  overflow-y: auto;
}
.prayBucketList-body table {
  width: 100%;
}
.prayBucketList-body table tr {
  width: 100%;
  height: 10%;
  text-align: center;
  padding-left: 1rem;
}
.prayBucketList-body table thead tr {
  background-color: rgb(199, 199, 199);
  font-weight: bold;
}
.prayBucketList-body table tr td:nth-child(1) {
  width: 5%;  
}
.prayBucketList-body table tr td:nth-child(2) {
  width: 5%;
}
.prayBucketList-body table tr td:nth-child(3) {
  width: 70%;
}
.prayBucketList-body table tr td:nth-child(4) {
  width: 10%;
}
.prayBucketList-body table tr td:nth-child(5) {
  width: 10%;
}
.prayBucketList-body tbody td:nth-child(3) {
  text-align: left;
  padding-left: 1rem;
}
.prayBucketlist-List:hover{
  background-color: rgb(253, 155, 125);
  color: rgb(255, 255, 255);
  cursor: pointer;
} 
.prayBucketList-input {
  width: 100%;
  height: 10%;
  /* background-color: brown; */
  /* border: 1px solid black; */
}
.prayBucketList-input form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prayBucketList-input form input {
  width: 90%;
  height: 50%;
}
.complete-checkbox{
  width: 16px;
  height: 16px;
  margin-top: 8px;
}


/* main -  Prayer-of-thanks */
.Prayer-of-thanks {
  width: 40%;
  height: 800px;
}
.Prayer-of-thanks-header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 1rem;
  background-color: aqua;
}
.Prayer-of-thanks-body {
  width: 100%;
  height: 85%;
  /* background-color: rgb(191, 171, 211); */
  /* border: 1px solid black; */
  overflow-y: auto;
}

.Prayer-of-thanks-body table {
  width: 100%;
}
.Prayer-of-thanks-body table thead tr {
  width: 100%;
  height: 10%;
  text-align: center;
  padding-left: 1rem;
  border-bottom: 1px solid black;
  background-color: rgb(199, 199, 199);
  font-weight: bold;
}
.Prayer-of-thanks-body table tr td:nth-child(1) {
  width: 6%;
}
.Prayer-of-thanks-body table tr td:nth-child(2) {
  width: 80%;
}
.Prayer-of-thanks-body table tr td:nth-child(3) {
  width: 14%;
}
.Prayer-of-thanks-body tbody td {
  text-align: center;
}
.Prayer-of-thanks-body tbody td:nth-child(2) {
  text-align: left;
  padding-left: 1rem;
}
.Prayer-of-thanksList:hover {
  background-color: rgb(253, 155, 125);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.Prayer-of-thanks-input {
  width: 100%;
  height: 10%;
  /* background-color: rgb(231, 151, 151); */
  /* border: 1px solid black; */
}
.Prayer-of-thanks-input form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Prayer-of-thanks-input form input {
  width: 90%;
  height: 50%;
}

/* main - scripture & prayDiary */
.prayDiary {
  width: 100%;
  height: 600px;
  /* border: 1px solid black; */
  display: flex;
}
.scripture-board {
  width: 60%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}
.scripture {
  width: 90%;
  height: 50%;
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}
.scripture-1 {
  width: 50%;
  height: 100%;
  background-color: rgb(79, 250, 64);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 0 2rem 0;
}
.scripture-1 p, .scripture-2 p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.scripture-1 h5 {
  font-size: 1rem;
}
.scripture-2 {
  width: 50%;
  height: 100%;
  background-color: rgb(218, 252, 67);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 0 2rem 0;
}
/* .scripture-2 h5 {
  font-size: 1rem;
} */
.prayDiary-output {
  width: 90%;
  height: 50%;
}

.prayDiary-output-body {
  width: 100%;
  height: 85%;
  /* background-color: rgb(191, 171, 211); */
  /* border: 1px solid black; */
  overflow-y: auto;
}

.prayDiary-output-body table {
  width: 100%;
}
.prayDiary-output-body table tr {
  width: 100%;
  height: 10%;
  text-align: center;
  padding-left: 1rem;
  border-bottom: 1px solid black;
}
.prayDiary-output-body table tr:nth-child(1) {
  background-color: rgb(199, 199, 199);
  font-weight: bold;
}
.prayDiary-output-body table tr td:nth-child(1) {
  width: 6%;
}
.prayDiary-output-body table tr td:nth-child(2) {
  width: 80%;
}
.prayDiary-output-body table tr td:nth-child(3) {
  width: 14%;
}
.prayDiary-input {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid black; */
}
.prayDiary-header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 2rem;
  background-color: rgb(27, 161, 117);
}
.prayDiary-input form {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.prayDiary-input form input {
  width: 90%;
  height: 5%;
}
.prayDiary-input form textarea {
  width: 90%;
  height: 80%;
  resize: none;
  overflow-y:auto;
}
.prayDiary-input form .btn-group {
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-top: -1rem;
}
.prayDiary-input form .btn-group button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 6px;
}
.prayDiary-input form .cancelBtn {
  background-color: rgb(238, 34, 34);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.prayDiary-input form .saveBtn {
  background-color: rgb(153, 153, 153);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.prayDiary-List:hover {
  /* text-decoration: underline; */
  background-color: rgb(253, 155, 125);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
/* 동작에 따른 디자인 */
.right-click-menu {
  width: 100px;
  /* height: 100px; */
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.right-click-menu div:hover {
  background-color: rgb(214, 156, 49);
  color: rgb(255, 255, 255);
}
.right-click-menu div {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.active {
  background-color: rgb(126, 49, 214);
  color: rgb(255, 255, 255);
}
.warning-modal {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.warning-modal-content p{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.warning-modal-btns{
  margin-top: 20px;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  }
  .warning-modal-ok{
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: rgb(153, 153, 153);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .warning-modal-cancel{
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: rgb(238, 34, 34);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  /* 모달 뒤에 불투명한 레이어 */
.modal-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 투명도 조절 가능 */
  z-index: 10; /* 모달보다 낮은 숫자 */
}

/* 포스트잇 부분 */
.scripture-1, .scripture-2 {
  cursor: pointer;
}
#pickText1, #pickText2 {
  width: 350px;
  height: 200px;
  resize: none;
  margin-top: 30px;
}
.scripture-1-btns, .scripture-2-btns{
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.scripture-1-saveBtn, .scripture-2-saveBtn{
  width: 75px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background-color: rgb(153, 153, 153);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.scripture-1-cancelBtn, .scripture-2-cancelBtn{
  width: 75px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background-color: rgb(238, 34, 34);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media (max-width: 420px) {
  .show{
      display: flex !important;
  }
  header .nav-btns{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 17rem;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    z-index: 50;
    display: none;
}
header .menu-btn{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
header .menu-btn a{
    margin-left: 0;
    width: 100%;
}
header .menu-btn a:hover{
  opacity: .8;
  border: none;
}
header .login-btn{
    margin: 0 auto;
    gap: 15px;
    margin-top: 5rem;
    text-align: center;
}
  header h1 a{
      font-size: 1.5rem;
      color: #fff;
  }
  .material-symbols-outlined{
      display: block;
      color: #fff;
      cursor: pointer;
  }
  main .wrapper form{
      width: 100%;
  }
  #serachbible{
      font-size: 1.2rem;
      left: 0;
      transform: none;
  }
  main .wrapper .input-btn{
      display: none;
  }
  main .wrapper .random-paragraph h3::-webkit-scrollbar {
      display: none;
    }
  main .wrapper .random-paragraph h3{
      font-size: 1.1rem;
      overflow: auto;
  }
  main .wrapper .random-paragraph p{
      font-size: .8rem;
  }
  main .wrapper .multi-contents {
      gap: 20px;
  }
  main .wrapper .multi-contents .bible-game,
  main .wrapper .multi-contents .pray-note{
      height: 200px;
  }
  main .wrapper .multi-contents .bible-game h3,
  main .wrapper .multi-contents .pray-note h3{
      font-size: 1.1rem;
  }
  .mobile-background{
      width: 100%;
      height: 500px;
      background-color: rgba(0,0,0,.8);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      display: none;
  }
  main .wrapper .book-title{
    font-size: 1.1rem;
   }
   main .wrapper .scripture .bible-contents{
    font-size: 1rem;
  }
   .source{
    font-size: .8rem;
    display: inline-block;
    text-align: right;
    position: relative;
    left: 58%;
    top: 8%;
  }

  main .wrapper .buttons{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    top: -3px;
  }
  main .wrapper .buttons button{
    font-size: 1rem;
  }
  .prev-button{
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    margin: 0;
  }
  .next-button{
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    margin: 0;
  }
  .prev-button:hover,
  .next-button:hover{
    background-color: #fff;
  }


}